body {
  font-family: 'Open Sans', sans-serif;
}

span {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 23px;
}

.font-weight-bold {
  font-weight: 700;
  }

  .font-weight-semi-bold {
    font-weight: 600;
  }

  .font-weight-normal {
    font-weight: 400;
  } ´

  .font-weight-light {
    font-weight: 300;
  }
  
  .font-weight-extra-light {
    font-weight: 200;
  }

 

header {
  background-image: url('../img/IMG_20210110_113450818-01_v2.jpeg');
  background-repeat: no-repear;
  background-size: cover;
  background-position: left;
  padding-bottom: 10rem;
}








/* Colores */
.bg-purple {
  background-color: #660066;
}

.bg-white {
  background-color: #ffffff;
}
/* Colores */



.carousel-indicators .active {
background-color: black;
}

.carousel-indicators {
bottom:-20px;
}

.carousel-inner {
margin-bottom:50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color:#343a40;
}

@media (min-width: 768px) {
  .empezar {
    width: 25%;
    height: auto;
  }
}
