body {
  font-family: 'Open Sans', sans-serif;
  color: #373A3C;
}

span {
  font-family: 'Oswald', sans-serif;
}

/* Tamaño y peso de letra */
.alto {
  line-height: 2;
}

´ h1 {
  font-size: 72px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 23px;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-normal {
  font-weight: 400;
}

´ .font-weight-light {
  font-weight: 300;
}

.font-weight-extra-light {
  font-weight: 200;
}

/* Tamaño y peso de letra */

/* Header */
header {
  background-image: url('../img/IMG_20210110_113450818-01_v2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Header */

/* Logos empresas sección mi experiencia */
.logoempresa {
  align-items: center;
}

/* Logos empresas sección mi experiencia */

/* Colores */
.bg-purple {
  background-color: #660066;
}

.bg-white {
  background-color: #ffffff;
}

/* Colores */

/* Link */
a:link {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

/* Link */

@media (max-width: 575.98px) {
  .modal-fade {
    width: 80%;
  }
}